fastapi
uvicorn[standard]
supabase
pydantic
pydantic-settings
python-dotenv
httpx
python-multipart
ffmpeg-python
openai
cryptography
PyJWT
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai
pypdf
python-dateutil